*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
}
  section.cc{
    background-color: #f45151;
    height: 100%;
    position: relative;
 }
nav.navbar{
    background-color: #fff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 40px;  
} 
section.navbar .logo{
    float: left;
}
section.navbar .logo img{
    width: 150px;
    height: 70px; 
     margin-left: 30%;
}
section.navbar .nav {
    float: right;
    margin-right: 1000px;
}

section.navbar .nav ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 24px;

} 
 section.navbar .nav ul li a{
    font-size: 20px;
    color: #000; 
    text-decoration: none;
}
nav.navbar ul li>a{
    color: #000 !important;
    font-size: 20px;
}  
section.cc div.bu>img{
   margin-left: 11%;
   margin-top: 12%;
}
div.ba{
    position: absolute; 
}
section.cc div.ba>img{
    margin-left: -60%;
    margin-top: -105%;
 }
 div.rig{
    position: absolute; 
}
section.cc div.rig>img{
    margin-left: 200%;
    margin-top: -180%;
 }
@media (max-width:767px){
    section.cc img{
        margin-left: -10%;
        width: 650px;
        margin-top: 17%;
     }
     section.navbar .nav {
        margin-right: 193px;
    }
    section.navbar .logo img{
        width: 150px;
        height: 70px; 
        margin-left: 30%;
        margin-top: 0%;
    }
}

section.aa h1{
    text-align: center;
    margin-top: -20px;
    color: rgba(238, 238, 238, 0.973);
    font-size: 70px;
    font-weight: bold;
}
section.aa div.box{
    background-color: #fff;
    height: 600px;
    border-radius: 35px;
}
section.aa div.box h4{
    color: #000;
    padding-top: 30px;
    margin-left: 20px;
}
section.aa div.box h1{
    color: #000;
    font-size: 30px;
    margin-top: 10px;
}
section.aa div.box>img{
    width: 450px;
    height: 350px;
    margin-left: -8%;
}
section.aa div.box h5{
    color: #000;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}
section.aa div.box h6{
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}
section.aa div.box div.w{
    width: 80px;
    height: 80px;
    background-color:#fff ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 2px red; 
    border-color: red;
    margin-left: 75%;  
    margin-top: -80px;
}
section.aa div.box div.w a{
    text-decoration: none;
}
section.aa div.box div.w span{
    font-size: 40px;
    color: red;
}
section.aa div.box1{
    background-color: #000;
}
section.aa div.box1 h4{
    color: #fff;
    padding-top: 30px;
    margin-left: 20px;
}
section.aa div.box1 h1{
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
}
section.aa div.box1>img{
    width: 450px;
    height: 350px;
    margin-left: -8%;
}
section.aa div.box1 h5{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}
section.aa div.box1 h6{
    margin-left: 20px;
    color: #999;
    font-size: 15px;
}
section.aa div.box1 div.w{
    width: 80px;
    height: 80px;
    background-color:#000 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 2px red; 
    border-color: red;
    margin-left: 75%;  
    margin-top: -80px;
}
section.aa div.box1 div.w a{
    text-decoration: none;
}
section.aa div.box1 div.w span{
    font-size: 40px;
    color: red;
}
/* page shopp */
section.header{
    height: 90vh;
    width: 100%;
    background-size: cover !important;
    position: relative;
}
nav.navbar{
    background-color: #fff;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 40px;  
}
section.navbar .logo{
    float: left;
}
section.navbar .logo img{
    width: 150px;
    height: 70px; 
    margin-left: 30%;
}
section.navbar .nav {
    float: right;
}
section.navbar .nav ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 24px;
}
section.navbar .nav ul li a{
    font-size: 20px;
    color: #000; 
    text-decoration: none; 
}
section.navbar .nav ul li:hover a{
    color: red;
}
nav.navbar ul li>a{
    color: #000;
    font-size: 20px;
}
section.header h1{
    position: absolute;
    margin-top: 14%;
    margin-left: 28%;
    color: #fff;
    font-family: h-bold;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.header p{
    position: absolute;
    margin-top: 22%;
    margin-left: 32%;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
    word-spacing: 2px;
}
section.sec{
    background-color: rgb(233, 107, 107);
    height: 100vh;
    position: relative;
}
section.sec div.box{
    position: absolute;
    background-color: #fff;
    margin-top: 5%;
    border-radius: 20px;
    height: 80vh;
    width: 100%; 
    position: relative;
}
section.sec .mm{
    background-color: #fff;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 15px;
    border-radius: 40px;
    width: 90%;
    position: absolute;
}
.table1{
    background-color: #f45151;
    /* border-radius: 10px; */

}


.btn{
    float: right;
    background-color: #f45151;
    border-radius: 10px;
}

